<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <appSettings>
    <!--Application Settings for CMP import flow-->
    <!--
    Be careful when modifying the keys/values of this file
    as the application might not run if they are wrong/mispelled
    -->
    <!--Filenet custom DB settings-->
    <!--<add key="LogToDB" value="1" />
    <add key="DBname" value="FILENETDBSRV" />
    <add key="DBuser" value="oterev" />
    <add key="DBpwd" value="oterev2016#" />-->
    <!--Filenet Settings-->
    <add key="FNuser" value="SysAdmin" />
    <add key="FNpwd" value="SysAdmin" />
    <!--
    <add key="FNuser" value="siebel_imp" />
    <add key="FNpwd" value="s13b3lu#" />
    -->
    <add key="SchemaBaseFolder" value="/OTESchema" />
    <add key="ClassName" value="OTE_DOCS" />
    <!--Custom DB default values-->
    <add key="Receiver" value="OTE" />
    <add key="Type" value="1" />
    <add key="Pages" value="0" />
    <add key="Department" value="4" />
    <add key="UpdateUserCode" value="3" />
    <add key="Author" value="Donb" />
    <add key="DocNaturalPosition" value="CMP" />
    <add key="View_mode" value="DROP18" />
    <!--File location-->
    <!-- <add key="Path" value="\\10.101.6.9\vol_edocs3_prod\DROP18" /> -->
    <add key="Path" value="C:\test_docs\Drop18" />
    <!--Application behavioural settings-->
    <add key="SleepInterval" value="3000" />
    <add key="StopTime" value="23:20" />
    <add key="RepeatNumber" value="100" />
    <!--Auto-increment Application execution thread, Reset to 1 only if it exceeds a large enough value-->
    <add key="ThreadID" value="0" />
    <add key="RowNumEnable" value="0" />
    <!-- Oterev Database Details -->
    <!--Production Pass -->
    <!-- <add key="OterevDBpwd" value="oterev2016#" /> -->
    <!-- Oterev Test Database Details -->
    <add key="OterevDBname" value="ORCL" />
    <add key="OterevDBuser" value="oterev" />
    <add key="OterevDBpwd" value="oterev" />
    <!-- DB Queries used for identifying the files to be imported, retrieving their metadata, and finally notifying epos upon commital-->
    <add key="SQLUpdate" value="update CMP_DROP18 set import_status=?STATE? ?F_DOCNUMBER? , UPDATE_DATE = sysdate where digital_order_id='?ID?' and document_file_info_id='?CMP_ID?'" />
    <add key="SQLFilesToImport" value="select t.*, count(*) over () as num_rows from (select DIGITAL_ORDER_ID,DOCUMENT_FILE_INFO_ID,TOPIC,CATEGORY,SUBCATEGORY,NETAPP,FILE_PATH,FILE_TYPE,CUSTOMER_CODE,BILLING_ACCOUNT_ID,SHOP_CODE,trunc(DOC_DATE) as DOC_DATE,IMPORT_STATUS from CMP_DROP18 where import_status in(0,3) and netapp= 1) t" />
    <add key="RowNumSQl" value="where rownum &lt; 1 " />
    <add key="DeleteDocuments" value="Delete from Documents where f_docnumber = ?F_DOC?" />
    <add key="DeleteFolderContents" value="Delete from Folder_contents where f_docnumber = ?F_DOC?" />
    <!--End of settings-->
  </appSettings>
</configuration>